@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-image: url(img1.jpg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}

.container {
    background: rgba(255, 255, 255, 0.475);
    backdrop-filter: blur(10px);
    max-width: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.container h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.container h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.container blockquote {
    font-size: 26px;
    min-height: 110px;
}

.container blockquote::before,
.container blockquote::after {
    content: '"';
}

.container span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.container span::before {
    content: '~';
}

.container div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container button {
    background: rgba(237, 189, 130, 0.884);
    color: #202020;
    border-radius: 25px;
    border: 1px solid rgba(237, 189, 130, 0.884);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.container button img {
    width: 2rem;
    margin-right: 10px;
    margin-left: -30px;
    border-radius: 1px solid white;
}

.container button:nth-child(2) {
    background: rgb(0, 0, 0);
    color: #fff;
    border-color: rgba(0, 0, 0, 0.669);
}

.container button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    .container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .container blockquote {
        font-size: 20px;
        min-height: 90px;
    }

    .container div {
        margin-top: 30px;
    }

    .container button {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
}
